name: "NowSecure"

on:
  workflow_dispatch:
    branches: [ main ]

jobs:

 scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install ripgrep
        run: sudo apt-get install -y ripgrep

      # demonstrates getting an existing report and converting to sarif
      - name: NowSecure GHAS
        uses: nowsecure/nowsecure-action/convert-sarif@main
        timeout-minutes: 60
        with:
            token: ${{ secrets.NS_TOKEN }}
            report_id: "d101fd3c-13f0-11ed-a785-db03c061484f"
            group_id: "602abed9-4c66-453d-8431-da0195b682de"
            enable_dependencies: false
            enable_sarif: true

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: NowSecure.sarif

      # demonstrates getting an existing report and uploading the dependencies to dependency graph
      - name: NowSecure-SBOM
        uses: nowsecure/nowsecure-action/convert-sarif@main
        timeout-minutes: 60
        with:
          token: ${{ secrets.NS_TOKEN }}
          report_id: "d101fd3c-13f0-11ed-a785-db03c061484f"
          group_id: "602abed9-4c66-453d-8431-da0195b682de"
          enable_dependencies: true
          enable_sarif: false

